<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Caesar Cloud</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>
</body>
<div class="tile is-ancestor">
    <div class="tile is-8"> 
        <div class="tile">
        <div class="tile is-parent">
        {% for result in results %}
            <article class="tile is-child notification is-info">
            <p class="title">ID <b>{{ result['server_conf_id'] }}</b></p>
            <div class="columns">
                <div class="column box has-background-grey-darker">
                    <strong class="has-text-white">CPU</strong>
                </div>
                <div class="column box">
                    {{ result['cpu'] }}
                </div>
            </div>
            <div class="columns">
                <div class="column box has-background-grey-darker">
                    <strong class="has-text-white">GPU</strong>
                </div>
                <div class="column box">
                    {{ result['gpu'] }}
                </div>
            </div>
            <div class="columns">
                <div class="column box has-background-grey-darker">
                    <strong class="has-text-white">RAM</strong>
                </div>
                <div class="column box">
                    {{ result['ram_mb'] }} mb
                </div>
            </div>
            <div class="columns">
                <div class="column box has-background-grey-darker">
                    <strong class="has-text-white">OS</strong>
                </div>
                <div class="column box">
                    {{ result['os'] }}
                </div>
            </div>
            <a href="something" class="button has-background-success">
                Buy
            </a>
            </article>
        {% endfor %}
        </div>
    </div>
</body>