{% extends "base.html" %}

{% block nav %}
<div class="navbar-item">
  <button id="new-order-button" class="button is-block is-success js-modal-trigger" data-target="modal-new-order">New order</button>
</div>
<div class="navbar-item">
  <p class="subtitle is-5">{{ workspace_name }}</p>
</div>
<div class="navbar-item">
<button class="button is-block is-dark is-light js-modal-trigger" data-target="modal-edit">Edit</button>
</div>
{% endblock %}

{% block content %}
<div class="container">
<div id="modal-edit" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <p class="title">{{ workspace_name }}</p>
        <div class="box">
          <form method="POST" action="{{url_for('main.update_workspace', workspace_id=workspace_id, workspace_name=workspace_name)}}">
              <div class="field">
                  <div class="control">
                      <input class="input is-medium" type="text" name="workspace_name" placeholder="Workspace name" autofocus="">
                  </div>
              </div>

              <!--TODO: Add users choice-->

              <button class="button is-block is-info is-medium is-fullwidth">Update</button>
            </form>
            <form method="POST" action="{{url_for('main.delete_workspace', workspace_id=workspace_id, workspace_name=workspace_name)}}">
              <button class="button is-block is-danger is-medium is-fullwidth">Delete</button>
            </form>
        </div>
    </div>
  
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<div class="container">
  <div id="modal-new-order" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
          <p class="title">{{ workspace_name }}</p>
          <div class="box">
            <div class="mychange"></div>
          </div>
      </div>
    
      <button class="modal-close is-large" aria-label="close"></button>
  </div>

<table class="table is-hoverable is-striped is-bordered table is-fullwidth">
    <thead>
      <tr>
        <th>Id</th>
        <th>Open</th>
        <th>Close</th>
        <th>CPU</th>
        <th>GPU</th>
        <th>RAM_mb</th>
        <th>SSD_mb</th>
        <th>OS</th>
        <th>Link to server</th>
      </tr>
    </thead>
    <tbody>
        {% for server in query_result %}
        <tr>
            <th>{{ server["order_id"] }}</th>
            <td>{{ server["opened_on"] }}</td>
            <td>{{ server["closed_on"] }}</td>
            <td>{{ server["cpu"] }}</td>
            <td>{{ server["gpu"] }}</td>
            <td>{{ server["ram_mb"] }}</td>
            <td>{{ server["ssd_storage_mb"] }}</td>
            <td>{{ server["os"] }}</td>
            <td><a href="#">Link to server</a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

<script src="{{ url_for('static', filename='js/modal-js-script.js') }}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
  $('#new-order-button').click( function() {
    $.get('{{ url_for("main.get_servers") }}', function(data) {
      $('.mychange').html($(data));
  });
});
</script>
</div>
{% endblock %}