{% extends "base.html" %}

{% block nav %}
<div class="navbar-item">
<button class="button is-block is-success js-modal-trigger" data-target="modal-create">New workspace</button>
</div>
{% endblock %}

{% block content %}
<div id="modal-create" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <p class="title">New workspace</p>
        <div class="box">
            <form method="POST" action="{{ url_for('main.create_workspace') }}">
                <div class="field">
                    <div class="control">
                        <input class="input is-medium" type="text" name="workspace_name" placeholder="Workspace name" autofocus="">
                    </div>
                </div>

                <!--TODO: Add users choice-->

                <button class="button is-block is-info is-medium is-fullwidth">Create workspace</button>
            </form>
        </div>
    </div>
  
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% for workspace in query_result %}
<div>
<a href="{{ url_for('main.view_workspace', workspace_id=workspace['id'], workspace_name=workspace['name'] )}}" class="title">
  {{ ("💎" if workspace["is_owner"] else "") + workspace['name'] + ("💎" if workspace["is_owner"] else "") }}
</a>
</div>
{% endfor %}

<script src="{{ url_for('static', filename='js/modal-js-script.js') }}"></script>
{% endblock %}